### Answers - changing the character of a cell / evaluating a cell

Create your new cell(s) below this one.

Christian Lee

The shortcut Shift + Enter will run the cell and select the cell below.

### Answers - a little practice with help in Jupyter

Create your new cell(s) below this one.

In [1]:
print?

#### Written answer

Type your answer(s) here.

Typing a function name (print) followed by the "?" character prompts Jupyter Notebook to display a documentation page for that function.

### Answers - a little practice with tab completion

Create your new cell(s) below this one.

In [2]:
print()

2. Typing the letters "pr" and then tab will display a suggested autocomplete window with function or variable names that might match the text already entered. In this case, "pr" can be completed in many different ways. 
3. Attempting to autocomplete "pri" only found one term to complete, so it automatically complted "print" when tab is pressed.

### Answers - a little practice with magic functions

Create your new cell(s) below this one.

In [3]:
%magic

### Answers - the infamous "Hello World" program

Create your new cell(s) below this one.

In [4]:
print("Hello World!")

Hello World!

### Answers - types of numbers

Create your new cell(s) below this one.

In [5]:
 print(type(3))
 print(type(3.))
 print(type(3.0))
 print(type(3.0 + 0.0j))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>

#### Written answer

Type your answer(s) below:

1. No answer needed -- just observe behavior of code.
2. Write your answer for each case:
    1. int
    2. float
    3. float

### Answers - results of basic arithmetical operations

Create your new cell(s) below this one.

In [6]:
print(2 + 15)
print(2 - 15)
print(2 * 15)
print(type(2 + 15))
print(type(2 - 15))
print(type(2 * 15))

17
-13
30
<class 'int'>
<class 'int'>
<class 'int'>

### Answers - data type predictions

Type your answer(s) below:

1. float
2. float
3. float
4. division of two integers yields a float

### Answers - different kinds of division

Type your answer(s) below:

1. The "//" Operator is a floor divison, or integer divison operator. It returns the floor of standard division. 
2. Write your predictions, then comment on whether or not they were correct in each case:
    1. 3.0 float
    2. 4.0 float
    3. 4.0 float (floor division of a float returns a float)
    4. 3.0 float (floor division of a float returns a float)

In [8]:
print(15 / 5, 16 / 5, 17 / 5, 18 / 5, 19 / 5, 20 / 5)
print(15 // 5, 16 // 5, 17 // 5, 18 // 5, 19 // 5, 20 // 5)
print(type(15 / 5))
print(type(15 // 5))

3.0 3.2 3.4 3.6 3.8 4.0
3 3 3 3 3 4
<class 'float'>
<class 'int'>

In [12]:
a = 2 + 3 / 3
b = 2 * 6. / 3.
c = 2 * 6. // 3.
d = 5 - 7. // 3
test = [a, b, c, d]

for i in test:
    print(f"{i} {type(i)}")

3.0 <class 'float'>
4.0 <class 'float'>
4.0 <class 'float'>
3.0 <class 'float'>

### Answers - more computations

#### Written answers - Predictions

Type list of predictions here.

1. 16 int
2. 16.0 float
3. (3+4j) complex
4. True bool
5. True bool
6. True bool
7. False bool
8. True bool
9. 0 int
10. 1 int

#### Answers in cells

Create your new cell(s) below this one.

In [14]:
a = 2 ** 4
b = 2. ** 4
c = (2 + 1j) ** 2
d = 1 == 1
e = 1. == 1
f = 1 + 0j == 1
g = 1 > 2
h = 1 >= 1.
i = 225 % 15
j = 13 % 3
test = [a, b, c, d, e, f, g, h, i, j]

for i in test:
    print(f"{i} {type(i)}")

16 <class 'int'>
16.0 <class 'float'>
(3+4j) <class 'complex'>
True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
False <class 'bool'>
True <class 'bool'>
0 <class 'int'>
1 <class 'int'>

### Answers - Starting out with variables

Create your new cell(s) below this one.

#### Block 1

    this_is_a_variable = 13
    this_is_a_variable_2 = 7
    print(this_is_a_variable * this_is_a_variable_2)
    
91 int

In [15]:
this_is_a_variable = 13
this_is_a_variable_2 = 7
print(this_is_a_variable * this_is_a_variable_2)

91

#### Block 2

    variable = 10
    VARIABLE = 13
    print(variable == VARIABLE)
    
False bool

In [16]:
variable = 10
VARIABLE = 13
print(variable == VARIABLE)

False

#### Block 3

    x = 10
    print(x)
    x = 11
    print(x)
    
10 int

11 int

In [17]:
x = 10
print(x)
x = 11
print(x)

10
11

#### Block 4

    x = 10
    print(x)
    x = x + 3
    print(x)
    x = x - 3
    print(x)
    x = x ** 2
    print(x)
    
10 int

13 int

10 int

100 int

In [18]:
x = 10
print(x)
x = x + 3
print(x)
x = x - 3
print(x)
x = x ** 2
print(x)

10
13
10
100

#### Block 5

    x = 10
    print(x)
    x += 3
    print(x)
    x -= 3
    print(x)
    
10 int

13 int

10 int

In [19]:
x = 10
print(x)
x += 3
print(x)
x -= 3
print(x)

10
13
10

#### Block 6

    x = 10
    print(x, type(x))
    x = 13 + 0j
    print(x, type(x))
    x = "Goodbye Sweet World!"
    print(x, type(x))
    
10 int

(13+0j) complex

Goodbye Sweet World! string

In [20]:
x = 10
print(x, type(x))
x = 13 + 0j
print(x, type(x))
x = "Goodbye Sweet World!"
print(x, type(x))

10 <class 'int'>
(13+0j) <class 'complex'>
Goodbye Sweet World! <class 'str'>

#### Block 7

    x = 13
    y = x
    x = 7
    print(y)
    print(x)
    
 13 int
 
 7 int

In [21]:
x = 13
y = x
x = 7
print(y)
print(x)

13
7

### Answers - predicting outcomes of programs with control flow statements

Create your new cell(s) below this one.

#### Block 1

    x = -3
    y = 2
    if x < 0:
        print(y)
        
 2

In [22]:
x = -3
y = 2
if x < 0:
    print(y)

2

#### Block 2

    x = -3
    y = 2
    if x > y:
        print(x)
        print(x - y)
    if x < y:
        print(y)
        print(x + y)
        
  2
  
  -1

In [23]:
x = -3
y = 2
if x > y:
    print(x)
    print(x - y)
if x < y:
    print(y)
    print(x + y)

2
-1

#### Block 3

    x = 2
    y = -3
    x = y
    y = 2
    if x > y:
        print(y)
    if x < y:
        print(x)
    if x == y:
        print(x + y - y + x)
        
 -3

In [24]:
x = 2
y = -3
x = y
y = 2
if x > y:
    print(y)
if x < y:
    print(x)
if x == y:
    print(x + y - y + x)

-3

### Answers - writing simple programs with control flow statements

Create your new cell(s) below this one.

In [27]:
# Program 1
x, y, z = 13, 1, 17.1

if abs(x - y) <= 4:
    print(x + y)
else:
    print(z)

17.1

In [30]:
# Program 2
a = 5
b = 7
# both are odd

if (a % 2) == 0 and (b % 2) == 0:
    # both are even
    print(a**b)

if (a % 2) == 1 and (b % 2) == 1:
    # both are odd
    print(b**a)
    
if ((a % 2) == 0 and (b % 2) == 1) or ((a % 2) == 1 and (b % 2) == 0):
    # XOR Even
    print(a*b)

16807

### Answers  - predicting outcomes of programs that contain loops

Type out precisely what you think the output of each code block above will be exactly as it will appear when the block is run in its own cell:

#### Block 1

    1
    2
    3
    4
    5
    6
    7
    8
    9
    10

#### Block 2

    0
    1
    0
    1
    0
    1

#### Block 3

    0
    I don't like number 1
    2
    I don't like number 3
    4
    I don't like number 5
    6
    I don't like number 7
    8
    I don't like number 9
    10
    I don't like number 11
    12

#### Block 4

    0
    1
    4
    9
    16
    25

#### Block 5

    1
    2
    What a strange program

In [36]:
# Block 1
for n in range(10):
    print(n+1)

1
2
3
4
5
6
7
8
9
10

In [32]:
# Block 2
for n in range(6):
    print(n % 2)

0
1
0
1
0
1

In [33]:
# Block 3
for n in range(13):
    if n % 2 == 0:
        print(n)
    else:
        print("I don't like number", n)

0
I don't like number 1
2
I don't like number 3
4
I don't like number 5
6
I don't like number 7
8
I don't like number 9
10
I don't like number 11
12

In [34]:
# Block 4
n = 0
while n < 6:
    print(n ** 2)
    n += 1

0
1
4
9
16
25

In [35]:
# Block 5
n = 40
while n > 0:
    if n % 5 == 0:
        print(n % 3)
    n -= 4
print("What a strange program")

1
2
What a strange program

### Answers - writing programs that repeat using loops

Create your new cell(s) below this one.

In [37]:
# Question 1
x = 1
while x < 17:
    print(x)
    x += 2

1
3
5
7
9
11
13
15

In [38]:
# Question 2
for i in range(1, 17, 2):
    print(i)

1
3
5
7
9
11
13
15

In [39]:
# Question 3
for i in range(58, 97):
    if i % 2 == 0:
        # is even
        print(i)
        print("This is a fun number!")

58
This is a fun number!
60
This is a fun number!
62
This is a fun number!
64
This is a fun number!
66
This is a fun number!
68
This is a fun number!
70
This is a fun number!
72
This is a fun number!
74
This is a fun number!
76
This is a fun number!
78
This is a fun number!
80
This is a fun number!
82
This is a fun number!
84
This is a fun number!
86
This is a fun number!
88
This is a fun number!
90
This is a fun number!
92
This is a fun number!
94
This is a fun number!
96
This is a fun number!

In [40]:
# Question 4
for i in range(1, 15):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196

In [57]:
# Question 5
def fib_seq(n):
    # Fibonnacci Generator
    x0 = 0
    x1 = 1
    yield x0 # 1st number
    yield x1 # 2nd number
    
    for i in range(n-2):
        x1, x0 = x0 + x1, x1
        yield x1

for i in fib_seq(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [46]:
# Question 6
# Use simple iterative approach

def fib_n(n):
    # Return the nth Fibonnacci number
    x0 = 0
    x1 = 1
    for i in range(n-2):
        x1, x0 = x0 + x1, x1
    return x1

print(fib_n(10))

34

### Answers - predicting the behaviors of functions with keyword arguments

Type out precisely what you think the output of each line above will be exactly as it will appear when the line is run in its own cell:

#### Line 1

    1.0

#### Line 2

    31.25

#### Line 3

    17.0

#### Answers in cells

Create your new cell(s) below this one.

In [47]:
def f_kw(x, linear = True, slope = "negative"):
    if linear == True:
        if slope == "negative":
            return -2.0 * x + 7.0
        else:
            return 2.0 * x + 7.0
    else:
        return 5 * x ** 2

In [48]:
# Line 1
f_kw(3.0)

1.0

In [49]:
# Line 2
f_kw(2.5, linear = False, slope = "slopey")

31.25

In [50]:
# Line 3
f_kw(2.0, slope = "slopey", linear = False) + f_kw(5.0)

17.0

### Answers -- writing functions

Create your new cell(s) below this one.

In a coding cell in your answer notebook, define a function called `my_fifth_power` that takes a number as input and outputs the fifth power of that number.  Your implementation should use only Python's built-in multiplication operation -- no built-in power operation allowed.  Check to make sure that the Jupyter notebook now has saved this function in its tab completion list by creating a new coding cell, typing `m` and then pressing <kbd>Tab</kbd>.  A list of functions starting with the letter `m` that are available to you should pop up, and your function `my_fifth_power` should be somewhere on that list.

In [58]:
def my_fifth_power(n):
    return n**5

In [59]:
my_fifth_power(2)

32

Define a function `my_power` that uses only Python's built-in multiplication to compute any non-negative integer power of a number.  thus function should have two inputs, one for the integer and one for the power.

In [62]:
def my_power(n, m):
    # Return n ** m
    total = 1
    for i in range(m):
        total *= n
    return total

# Test
my_power(2, 8)

256

Define a function `my_absolute` that takes a float as its input and outputs its absolute value.

In [64]:
def my_absolute(n):
    return abs(n)

# Test
my_absolute(-7.1)

7.1

Define a function `my_max` that takes two numbers as inputs and outputs the larger number if they are different.  If the two numbers are the same, the function should output either of the two numbers.

In [67]:
def my_max(n, m):
    return max(n, m)

# Test
my_max(4, 5)

5

Define a function `my_max_three` that takes three numbers as inputs and outputs their maximum.

In [68]:
def my_max_three(a, b, c):
    return max(a, b, c)

# Test
my_max_three(1, 2, 3)

3

Define a function `my_integer_sum` that takes a positive integer `n` as its input and outputs the sum of all positive integers less than or equal to `n`.

In [70]:
def my_integer_sum(n):
    sum = 0
    for i in range(1, n+1):
        sum += i
    return sum

# Test

my_integer_sum(10)

55

Define a function `my_integer_sum_power` that takes a positive integer `n` and an optional positive integer `p` whose default value is $1$ as its input and outputs the sum of all powers $k^p$ where $k$ ranges through the positive integers less than or equal to `n`.

In [73]:
def my_integer_sum_power(n, p = 1):
    sum = 0
    for i in range(1, n+1):
        sum += i ** p
    return sum

# Test
my_integer_sum_power(2, 2)
# 1^2 + 2^2

5

Define a function `my_integer_product` that takes a positive integer `n` as its input and computes the product of all positive integers less than or equal to `n` as its output.

In [74]:
def my_integer_product(n):
    # Same as factorial
    product = 1
    for i in range(1, n+1):
        product *= i
    return product

# Test
my_integer_product(4)

24

Define a function `my_function_sum` that takes a float-valued function $f$ of integer argument and an integer $n$ as its inputs, and outputs the sum $f(1) + f(2) + \cdots + f(n)$ as its output.

In [75]:
def my_function_sum(func, n):
    sum = 0
    for i in range(1, n+1):
        sum += func(i)
    return sum

def make_negative(m):
    return -abs(m)

# Test
my_function_sum(make_negative, 4)

-10

Define a function `my_function_product` that takes a float-valued function $f$ of integer argument and an integer $n$ as its inputs, and outputs the product $f(1)\cdot f(2) \cdots f(n)$ as its output.

In [77]:
def my_function_product(func, n):
    product = 1
    for i in range(1, n+1):
        product *= func(i)
    return product

def make_negative(m):
    return -abs(m)

# Test
my_function_product(make_negative, 5)

-120

Define a function `my_function_product_powers` that takes a float-valued function $f$ of integer argument, an integer $n$, and an optional integer $p$ whose default value is $1$ as its inputs, and outputs the product $f(1)^p\cdot f(2)^p \cdots f(n)^p$ as its output.

In [82]:
def my_function_product_powers(func, n, p = 1):
    product = 1
    for i in range(1, n+1):
        product *= func(i)**p
    return product

def make_negative(m):
    return -abs(m)

# Test
my_function_product_powers(make_negative, 3, 2)
# (-1)^2 * (-2)^2 * (-3)^2 = 1 * 4 * 9 = 36

36